numpy>=1.23.4

requests
tqdm
pandas>=1.5.3
tiktoken
rich
portalocker
torch>=2.0.0
timeout-decorator
transformers
opencv-python
typing_extensions
pillow
omegaconf
matplotlib
einops
sentencepiece
sty
xtuner
huggingface_hub
visual_genome
pycocoevalcap
openpyxl
seaborn
tabulate
xlsxwriter